{% extends 'base.html' %} {% load bootstrap_tags %} {% block search %}
<form class="form-inline form-right text-right my-2 my-lg-0" action="{% url 'search-bugs' %}">
    <div class="wrap-fields">
        <input class="form-control my-0 mr-sm-2 w-100" name="search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn my-0  search-icon" type="submit"><i class="fas fa-search"></i></button>
    </div>
</form>
{% endblock %}

{% block add_bug %}
<a class="nav-link" href="{% url 'add_new_bug' %}"><i class="fas fa-plus-circle"></i> Report bug</a>
{% endblock %}

{% block content %}
<!--Bug-->
<div class="card mt-3">
    <div class="card-header">
        <span class="custom-size font-weight-bold d-block d-sm-inline">{{ bug.name }}</span>
        <span class="float-right pl-2"><i class="fas fa-eye">{{ view }}</i></span> 
        {% if bug.status == "Pending-review" %}
        <span class="badge badge-pill badge-secondary float-left float-sm-right  custom-size">
        <a title="Click to see all items from this category!" class="text-white" href="{% url 'Pending-review' %}">Pending Review</a></span> {% elif bug.status == "In-progress" %}
        <span class="badge badge-pill badge-info float-left float-sm-right custom-size">
        <a title="Click to see all items from this category!" class="text-white" href="{% url 'in-progress-bugs' %}">In Progress</a> 
        </span> {% elif bug.status == "Resolved" %}
        <span class="badge badge-pill badge-success float-left float-sm-right custom-size">
        <a title="Click to see all items from this category!" class="text-white" href="{% url 'Resolved' %}">Resolved</a>
        </span> {% endif %}
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-1">
            <p>{{ bug.description }}</p>
            <footer class="blockquote-footer"> Added {{ bug.date_reported | date}} by
                <li class="d-inline"><img class="rounded-circle profile-image" src="{{ bug.author.profile.image.url  }}"></img>
                    <form class="form-hidden" action="{% url 'author-bugs' %}">
                        <button title="click to see user's reported issues" class="hidden-input" type="submit" name="bug-author" value="{{ bug.author.id }}"> {{ bug.author }} </button>
                    </form>
                </li>
            </footer>
        </blockquote>
        <a class="btn btn-sm btn-success" href="{% url 'add-upvote' bug.id %}" type="POST">I have This Too <i class="fas fa-user mr-1 ml-1"> {{ like }}</i></a> {% if user.is_authenticated and user.id == bug.author_id %}
       <!-- Button trigger modal -->
<button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#Delete-bug">
  Remove Bug
</button>
 {% endif %}
    </div>
</div>
<!--END-->
<!--Add comment Form-->
<div class="card mt-2">
    <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
            <button class="btn btn-sm btn-info collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Leave a Comment
        </button>
        </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
            <form class="w-100" action="" method="POST">
                {% csrf_token %} {{ comment_form | as_bootstrap }}
                <button type="submit" class="float-right btn btn-sm btn-success">Add Comment</button>
            </form>
        </div>
    </div>
</div>
<!--Comments-->
{% for comment in comment %}
<div class="card mt-3">
    <div class="card-header">
        <img class="rounded-circle profile-image" src="{{ comment.author.profile.image.url }}"></img> {{ comment.author }} </li>
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>{{ comment.comment }}</p>
            <footer class="blockquote-footer">{{ comment.date_reported | timesince}} ago</footer>
        </blockquote>
        {% if user.is_authenticated and user.id == comment.author_id %}
        <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#remove-comment">
  Delete
</button> 
            </div>
        
<!--Modal remove comment-->
<div class="modal fade" id="remove-comment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><strong>{{ comment.comment }}</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
            Are You sure you want to delete <strong>"{{ comment.comment }}"</strong>
            <hr>
            <blockquote>
               <em> * This action is not reversible</em> 
            </blockquote>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                 <button type="button" class="btn btn-danger"><a class="text-white" href="{% url 'delete-comment' comment.id %}" type="POST">Delete</a></button>
                
        </div>
    </div>
</div>
<!--END-->
{% endif %}
    </div>
</div>
{% endfor %}
<!--Pagination-->
<nav aria-label="Page navigation example">
    <ul class="pagination mt-4">
        {% if comment.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ comment.previous_page_number }}">Previous</a></li>
        {% endif %}
        <li><a class="page-link"> Page {{ comment.number }} of {{ comment.paginator.num_pages }}. </a> </li>

        {% if comment.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ comment.next_page_number }}">Next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ comment.paginator.num_pages }}">Last &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
<!--END-->
<!-- Delete Confirmation Modal-->


<!-- Modal Bug Delete-->
<div class="modal fade" id="Delete-bug" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><strong>{{ bug.name }}</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
            Are You sure you want to delete <strong>"{{ bug.name }}"</strong>
            <hr>
            <blockquote>
               <em> * This action is not reversible</em> 
            </blockquote>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger"><a class="text-white" href="{% url 'delete-bug' bug.id %}" type="POST">Delete</a></button>
            </div>
        </div>
    </div>
</div>
<!--END-->

{% endblock %}
