{% extends 'base.html' %} {% block page_title %} Current Issues {% endblock %} {% block search %}
<form class="form-inline form-right text-right my-2 my-lg-0" action="{% url 'search-bugs' %}">
    <div class="wrap-fields">
        <input class="form-control my-0 mr-sm-2 w-100" name="search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn my-0  search-icon" type="submit"><i class="fas fa-search"></i></button>
    </div>
</form>
{% endblock %} {% block content %}

{% if query %}
<span>Displaying Results for: <strong>"{{ query }}"</strong></span> 
  <strong>({{ count }})</strong>
{% endif %}


{% for bug in bugs %}
<div class="card mt-3">
    <div class="card-header">
        <span class="custom-size font-weight-bold d-block d-sm-inline">{{ bug.name }}</span> {% if bug.status == "Pending-review" %}
        <span class="badge badge-pill badge-secondary float-left float-sm-right  custom-size">
        <a title="Click to see all items from this category!" class="text-white" href="{% url 'Pending-review' %}"><i class="fas fa-link"></i> Pending Review</a></span> {% elif bug.status == "In-progress" %}
        <span class="badge badge-pill badge-info float-left float-sm-right custom-size">
        <a title="Click to see all items from this category!" class="text-white" href="{% url 'in-progress-bugs' %}"><i class="fas fa-link"></i> In Progress</a> 
        </span> {% elif bug.status == "Resolved" %}
        <span class="badge badge-pill badge-success float-left float-sm-right custom-size">
        <a title="Click to see all items from this category!" class="text-white" href="{% url 'Resolved' %}"><i class="fas fa-link"></i> Resolved</a>
        </span> {% endif %}
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-1">
            <p>{{ bug.description }}</p>
            <footer class="blockquote-footer list-inline"> Added {{ bug.date_reported | date}} by
                <li class="d-inline"><img class="rounded-circle profile-image" src="{{ bug.author.profile.image.url  }}"></img>
                    <form class="form-hidden" action="{% url 'author-bugs' %}">
                        <button title="click to see user's reported issues" class="hidden-input" type="submit" name="bug-author" value="{{ bug.author.id }}"> {{ bug.author }} </button>
                    </form>
                </li>

            </footer>
        </blockquote>
        <a class="btn btn-sm btn-success" href="{% url 'get-bug' bug.id %}">See More</a>
    </div>
</div>
{% endfor %}
<!--Pagination-->
{% if count > 5 %}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if bugs.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ bugs.previous_page_number }}">Previous</a></li>
        {% endif %}
        <li><a class="page-link"> Page {{ bugs.number }} of {{ bugs.paginator.num_pages }}. </a> </li>
        {% if bugs.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ bugs.next_page_number }}">Next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ bugs.paginator.num_pages }}">Last &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
<!--END-->
{% endblock %}
