
form {
    width: 50%;
}

.form-right {
    width: auto!important;
}

.wrap-fields {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 3.0em;
}

.hidden-input {
    border: none;
    background-color: transparent;
    color: #6c757d;
    text-decoration: underline;
    display: inline-block;
    width: auto;
}

.form-hidden {
    width: auto;
    display: inline-block;
}

.custom-size {
    font-size: large !important;
}

.profile-image {
    width: 40px!important;
    height: 40px !important;
}

.bg-secondary-navigation {
    background-color: #808080!important;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media only screen and (max-width: 991px) {
  form {
    width: 100%
  }
  .width-75 {
    width: 75%!important;
}
  .width-100 {
      width: 100%!important;
  }
}

.nav-link {
    font-size: 1.2rem!important;
}