{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block page_title %}
Checkout
{% endblock %}
{% block page_heading %}
    <div class="row mt-2"><i class="fas fa-paper-plane"></i>Checkout:</div>
{% endblock %}

{% block content %}
<div class="row">
    {% for item in cart_items %}
        <div class="card col-md-4 mt-3 ">
    <div class="card-header">
        <span class="custom-size font-weight-bold d-block d-sm-inline">{{ item.feature.name }}</span> 
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-1">
            <p>{{ item.feature.description }}</p>
            <footer class="blockquote-footer list-inline"> <small>Added {{ item.feature.date_reported | date}} by</small>
                 <li class="d-block d-sm-inline"><img class="rounded-circle profile-image" src="{{ item.feature.author.profile.image.url  }}"></img>
                    <form class="form-hidden" action="{% url 'author-features' %}">
                        <button title="Click to see user's requested features" class="hidden-input p-0" type="submit" name="author-features" value="{{ item.feature.author.id }}">{{ item.feature.author }} </button>
                    </form>
                </li>
                 <div class="card-header">Your Contribution: <strong class="text-dark">£{{ item.contribution }}</strong></div>
            </footer>
        </blockquote>
    </div>
</div>
    {% endfor %}
</div>
<form class="w-100 mt-4" role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
    <legend>Payment Details</legend>
    
    <div id="credit-card-errors" style="display: none;">
        <div id="alert-message block-message error" id="stripe-error-message"></div>
    </div>
    <div class="container m-0 p-0 d-inline">
    <div class="form-control col-md-5 float-left mb-4 mr-1">
        {{ order_form | as_bootstrap }}
    </div>

    <div class="pl-2 form-control col-md-6 float-right ">
        {{ payment_form | as_bootstrap }}
    </div>
   
    {% csrf_token %}
    <div class="form-group col-md-6 float-right">
         <div class="row mt-2">
    <p>Total</p>
    <p><i class="fas fa-pound-sign"><strong>{{ total }}</strong></i></p>
</div>
        <button class=" btn btn-primary" id="submit_payment_btn" name="commit" type="submit"><i class="fas fa-money-check"></i> Submit Payment </button>
    </div>
    </div>
    
</form>

{% endblock %}