{% extends 'base.html' %} {% load static from staticfiles %} {% load bootstrap_tags %} {% block page_title %} Cart {% endblock %} {% block page_heading %}
<div class="row mt-2"><i class="fas fa-shopping-cart"></i>Cart:</div>
{% endblock %} {% block content %}
<div class="row">
    {% for item in cart_items %}
    <!--Card-->
    <div class="card col-md-6 mt-3 ">
        <div class="card-header">
            <span class="custom-size font-weight-bold d-block d-sm-inline">{{ item.feature.name }}</span>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-1">
                <p>{{ item.feature.description }}</p>
                <div class="blockquote-footer list-inline">
                    <ul class="d-inline pl-1">
                        <li class="d-inline">
                            <small>Added {{ item.feature.date_reported | date}} by</small>
                        </li>
                    <li class="d-block d-sm-inline"><img class="rounded-circle profile-image" src="{{ item.feature.author.profile.image.url  }}" alt="Author Profile Image">
                        <form class="form-hidden" action="{% url 'author-features' %}">
                            <button title="Click to see user's requested features" class="hidden-input p-0" type="submit" name="author-features" value="{{ item.feature.author.id }}">{{ item.feature.author }} </button>
                        </form>
                    </li>
                    </ul>
                   
                    <div class="input-group-addon mt-2">Your Contribution: <strong class="text-dark">£ {{ item.contribution }}</strong></div>
                    <form class="form-inline w-100 mt-2" method="post" action="{% url 'adjust_cart' item.id %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Adjust Contribution:</label>
                            <div class="input-group">
                                <input name="price" type="number" min="5" max="999" class="form-control ml-1" placeholder="£££" required>
                            </div>
                        </div>
                        <div class="col-12 mt-4 ">
                            <button type="submit" class="btn btn-primary"><span class="fas fa-sync-alt" aria-hidden="true"></span> Update</button>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#remove-item"><i class="fas fa-trash"></i> Remove</button>
                        </div>
                        <!-- Modal Remove item from cart-->
                        <div class="modal fade" id="remove-item" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"><strong>{{ item.feature.name }}</strong></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are You sure you want to remove <strong>"{{ item.feature.name }}"</strong> from your cart?
                                    
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <a class="btn btn-danger text-white" href="{% url 'remove_item' item.id %}">Remove</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--END-->
                    </form>
                </div>
            </blockquote>
        </div>
    </div>
    <!--END-->
    {% endfor %}
</div>
{% if total >= 5 %}
<div class="row mt-3">
    <p>Total</p>
    <p><span class="ml-2" aria-hidden="true"></span><i class="fas fa-pound-sign">{{ total }}</i></p>
    <a href="{% url 'checkout' %}" class="btn btn-success ml-3 mb-3" role="button"><span class="fas fa-paper-plane" aria-hidden="true"></span> Checkout</a>
</div>
{% else %}
<p>Your cart is empty</p>
<p>Products you have contributed to will appear here</p>
{% endif %} {% endblock %}
