{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tracker</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--END-->
    <!--Font Awesome -->
    <link rel="stylesheet" href="{% static 'font-awesome/css/all.css' %}">
    <!--END-->
    <!--Custom CSS-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!--END-->
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Issues
        </a>
                        <!--Navigation Items-->
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'show_bugs' %}">Current Issues</a>
                            <a class="dropdown-item" href="{% url 'add_new_bug' %}">Report an Issue</a>

                        </div>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Features
        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Requested Features</a>
                            <a class="dropdown-item" href="#">Request a new Feature</a>
                        </div>
                    </li>
                </ul>
                {% block search %} {% endblock %}
                <!--END-->
                <!--User-->
                <ul class="navbar navbar-light bg-dark my-2 my-sm-0 mr-1 ml-1 list-inline">
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}"><i class="fas fa-user mr-1 ml-1"></i> Profile</a></li>
                    <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt mr-1 ml-1"></i> Log Out</a></li>
                    {% else %}
                    <li><a href="{% url 'registration' %}"><i class="fas fa-user-plus mr-1 ml-1"></i> Register</a></li>
                    <li><a href="{% url 'login' %}"><i class="fas fa-sign-in-alt mr-1 ml-1"></i> Log In</a></li>
                    {% endif %}
                </ul>

                <!--END-->
            </div>
        </nav>

    </header>
    <section>
        <!--<img src="{{ user.profile.image.url }}"></img>-->
        <div class="container">
            {% if messages %}
            <div class="alert alert-success">
                <div class="messages">
                    {% for message in messages %} {{ message }} {% endfor %}
                </div>
            </div>
            {% endif %} {% block content %} {% endblock %}
        </div>

    </section>
    <footer>

    </footer>
</body>

</html>
